/* Section styles */
.body-font {
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

/* Bounce icon */
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
  padding-left: 7%;
  padding-top: 5%;
}
