/* Section styles */
.body-font {
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

/* Bounce icon */
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
  padding-left: 7%;
  padding-top: 5%;
}
/* Animation */
@keyframes smoothbounce {
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 200px, 0);}
}
@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 200px, 0);
  }
}
        /* Prefix Support */
icon {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(
  .5, 0.05, 1, .5);
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
  }
}
